async-timeout==3.0.1
discord==1.0.1
discord.py==1.6.0
Keras-Preprocessing==1.1.2
librosa==0.8.0
matplotlib==3.3.3
numpy==1.19.3
packaging==20.8
pandas==1.2.0
parse==1.18.0
Pillow==8.1.0
pyttsx3==2.90
scikit-learn==0.24.0
scipy==1.6.0
six==1.15.0
SpeechRecognition==3.8.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
urllib3==1.26.2
w3lib==1.22.0
Wave==0.0.2
youtube-dl==2021.1.16
youtube-search==1.1.1